.sidenav {
    height: 100%;
    width: 20%;
    position: absolute  ;
    z-index: 1;
    left: 0;
    background-color:#f1f1f1;
    overflow-x: hidden;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-family: georgia;
    
}
.sidenav-img{
    width: 260px;
    height: 200px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
}  


.sidenav a:hover {
    background-color: #E2E2E2;
    color: #777777;
}

.about{
    background-color: pink;
    /* width: 80%; */
    float: right;
    overflow: hidden;
    position: relative;
    font-family: georgia;
}
.main-card{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 15%);
    padding: 20px;
    margin:  auto;
    margin-bottom: 14px;
    background-color: #fff;
    border-radius: 3px;
    width: 96%;
    float: none;

    
}
h1{
    color:#007EA5 ;
    font-size: 24px;
    padding: 0 8px 10px 8px;
    
}
.part{
    padding: 0 40px 40px 40px;
}
.short-heading{
    margin-top: 20px;
    margin-bottom: 10px;
}