<body>
    <div class="container">
        <div class="row pt-4 signupcard">
          <div class="col-md-8 gridEight">
            <h3 class="ps-5" style=" color: #0F4D5C ">MORE PERSONAL DETAILS</h3>
            <div class="row mt-4 ps-5 pe-5">
              <div class="col-md-6">
                <label for="formGroupExampleInput" class="form-label" style="color: #0F4D5C">
                    Looks
                  </label>
                  <select
                    class="form-select rounded-pill"
                    aria-label="Default select example"
                    name="Looks"
                    (change)="eventonKey($event)"
                  >
                    <option selected>Select Looks</option>
                    <option>Humble</option>
                    <option>Average</option>
                    <option>Attractive</option>
                    <option>Very Attractive</option>

                  </select>
              </div>
              <div class="col-md-6">
                <label for="formGroupExampleInput" class="form-label" style="color: #0F4D5C">
                    Complexion
                  </label>
                  <select
                    class="form-select rounded-pill"
                    aria-label="Default select example"
                    name="Complexion"
                    (change)="eventonKey($event)"

                  >
                    <option selected>Select Complexion</option>
                    <option>Dark</option>

                    <option>Tanned</option>
                    <option>Wheatish</option>
                    <option>Fair</option>

                  </select>
              </div>
            </div>
            <div class="row mt-4 ps-5 pe-5">
              <div class="col-md-6">
                <label for="formGroupExampleInput" class="form-label" style="color: #0F4D5C">
                    Build
                  </label>
                  <select
                    class="form-select rounded-pill"
                    aria-label="Default select example"
                    name="build"
                    (change)="eventonKey($event)"

                  >
                    <option selected>Select Build</option>
                    <option>Chubby</option>
                    <option>Average</option>
                    <option>Athletic</option>
                  </select>
              </div>
              <div class="col-md-6">
                <label for="formGroupExampleInput" class="form-label" style=" color: #0F4D5C ">
                    Height
                  </label>
                  <input
                    type="text"
                    class="form-control  rounded-pill"
                    aria-label="Religious"
                    aria-describedby="addon-wrapping"
                    placeholder="ex: 5'10"
                    name="height"
                    (keyup)="eventonKey($event)"

                  >
              </div>
            </div>
    
            <div class="row mt-4 ps-5 pe-5">
              <div class="col-md-12">
                <label for="formGroupExampleInput" class="form-label" style=" color: #0F4D5C ">
                    Hobbies
                  </label>
                  <input
                    type="text"
                    class="form-control  rounded-pill"
                    aria-label="Age"
                    aria-describedby="addon-wrapping"
                    placeholder="ex: Playing Football"
                    name="hobbies"
                    (change)="eventonKey($event)"
                  >
              </div>
            </div>
            <div class="row mt-5 ps-5 pe-5">
              <div class="col-md-6">
              <button type="button" class="btnNext" (click)="gotoSignupSecondPage()">
                  Previous
                </button>
              </div>
              <div class="col-md-6">
              <button type="button" class="btnNext" (click)="gotoSignupFourthPage()">
                  Next Step
                </button>
              </div>
            </div>
            <div></div>
          </div>
          <div class="col-md-4 gridFour d-flex flex-column justify-content-evenly">
          <span class="stepNxt"> 1 </span> 
          <button style="background-color: #91A8AD" type="button" class="btnOne ms-5 me-5">BASIC DETAILS</button>
          <span class="stepNxt"> 2 </span> 
          <button style="background-color: #91A8AD" type="button" class="btnTwo ms-5 me-5">PERSONAL DETAILS</button>
          <span class="step"> 3 </span> 
          <button style="background-color: #ffffff" type="button" class="btnThree ms-5 me-5">MORE PERSONAL DETAILS</button>
          <span class="stepNxt"> 4 </span> 
          <button  style="background-color: #91A8AD" type="button" class="btnFour ms-5 me-5">RESIDENTIAL DETAILS</button>
          <span class="stepNxt"> 5 </span> 
          <button style="background-color: #91A8AD" type="button" class="btnFive ms-5 me-5">PROFESSIONAL DETAILS</button>
          <span class="stepNxt"> 6 </span> 
          <button style="background-color: #91A8AD" type="button" class="btnSix ms-5 me-5">FAMILY DETAILS</button>
          <span class="stepNxt"> 7 </span> 
          <button style="background-color: #91A8AD" type="button" class="btnSeven ms-5 me-5">CONTACT DETAILS</button>
          </div>
        </div>
        </div>
    </body>